body {
    background-color: #E0E0E0	;
    font-family: 'Alegreya', serif;
    /*Originally #F6F6F6*/
}

p{
    font-family: sans-serif;
}

h1 {
    text-align: center;
}

.borderwall {
    background-color: #fff;
    border: 4px solid grey;
    padding: 75px;
    margin-top: 50px;
    margin-right: 100px; 
    margin-bottom: 50px; 
    margin-left: 100px;
}

#prettynick {
    text-align: center;
}
